---
---
@import "{{ site.theme }}";

// Hides the "View on GitHub" buttons
.downloads {
  display: none !important;
}

// Hides the "This project is maintained by..." text
.owner {
  display: none !important;
}

.github-corner, .view-project-on-github-banner {
    display: none !important;
}

